# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Ambientes virtuais
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Variáveis de ambiente
.env

# Logs
*.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
